﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>miWeb</title>
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <style>
        body{font-family:'Arial Rounded MT'}
        table,td,th{border-collapse:collapse;border:1px solid #ddd}
        th{background:linear-gradient(to top,rgb(250,250,250)0%,rgb(253,253,253)100%)}
    </style>
</head>
<body>
    <div id="app"><!-- este es el div que usará vue para trabajar-->
        <h1>Hola, soy la página principal</h1>
        <hr />
        <button @click="mostrarProductos()">Mostrar productos</button>
        <input type="text" v-model="buscar" placeholder="Buscar..." />
        <div id="resultado">
            <table>
                <tr v-for="fila in listaFiltrada">
                    <td>{{fila.id}}</td>
                    <td>{{fila['Código de producto']}}</td>
                    <td>{{fila['Nombre del producto']}}</td>
                </tr>
            </table>
        </div>
    </div>
    
</body>
<script>
    //esta función hace una petición ajax de jquery al servicio aspx
    function enviarPeticion() {
        $.ajax({
            type: 'get',
            url: 'myServicio.aspx',
            data: 'petición=quiero ver los productos',
            success: function (data) {
                //alert(data)
                $("#resultado").html(data)
            }
        })
    }
    // Aquí podés instalar paquetes o copiar las librerías
</script>
<!-- la librería se tiene que insertar luego de todo el body, pero dentro de él -->
<script src="Scripts/vue.js"></script>
<!--   Luego se hace la estructura de un objeto vue, que consta de varias claves en formato JSON -->
<!-- recordá que JSON significa JAVA SCRIPT OBJECT MODEL-->
<script>
    var miVue = new Vue({
        //aquí comienza la estructura del objeto vue
        el: '#app', //este es el div que contendrá el DOM virtual de vue, todas la etiquetas dentro de él, serán accesibles a vue
        data: {
            //este es el centro de datos de vue
            //aquí podes definir las variables que contendrán los datos reactivos
            lista: [],
            buscar:'' //variable buscar, esta será manejada por un input
        },
        methods: {
            //aquí defines los métodos a usar en vue, son simples métodos de javascript
            mostrarProductos: function () { //si te fijas, uso el mismo método que usé antes
                var mv=this //este hace referencia al objeto vue en sí, sobre todo a su data
                $.ajax({
                    type: 'get',
                    url: 'myServicio.aspx',
                    data: 'petición=quiero ver los productos',
                    success: function (data) {
                        //alert(data)
                        //$("#resultado").html(data) // pero esta vez no agregaré los resultados en el div directamente
                        // por qué?, porque quiero que los maneje vue
                        //antes de pasar el string recibido del backend, tengo que convertirlo en JSON
                        data=JSON.parse(data)
                        mv.lista = data 
                        //si te fijaste ahora vue contiene los datos en formato json
                        //como los presentamos ahora de forma fácil?
                    }
                })
            }
        },
        computed: {
            listaFiltrada: function () {
                var mv = this //guardo la referencia del objeto vue para usarla dentro de una función
                return mv.lista.filter((item) => {
                    //aquí uso una función tipo flecha para no estar matándome
                    return item['Nombre del producto'].toLowerCase().indexOf(mv.buscar.toLowerCase()) == 0
                    //eso de arriba lo que hace es devolver true si coincide y false si no
                    //por lo tante la funcion filter solo devolverá los que coincidan con 
                    //lo que tenga la variable buscar
                });
            }
        }
    })
</script>
</html>